body
{
	margin: 0px;
}

.pictures
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h1
{
	font-family: cursive;
	border-bottom: 2px solid green;
	border-right: 2px solid green;
	width: 400px;
	box-shadow: 4px 4px 5px #888888;
	margin-top: 10px;
}

.bottomright
{
	position: absolute;
	top: 10PX;
	right: 10PX;
	font-size: 30PX;
	color: red;
	text-align: center;
	width: fit-content;
	border:  1PX solid green;
	padding: 5px;
	background-color: rgba(89, 149, 50,0.4)

}
img
{
	width: 400PX;
	height: 300PX;
	margin: 10px;
	transition: all 1s;
	animation-name: class;
	animation-duration: 5s;
	;

}

img:hover 
{
	transform: scale(1.1);
	
}