/*selectors {
	Property: value;
}*/
body
{
	background-image: url('E:/After college/Udemy Online Course/Css With first website/l.r.patel.jpg');
	background-size: 100% 500%;
	background-repeat: no-repeat;
}

h1
{
	color: red;
	text-align: center;
	width: fit-content;
	border:  1PX solid green;
	padding: 5px;
	margin-left: 25%;
}

h2
{
	color: green;
}
